:root {
  --shade1: #222222;
  --shade2: #171717;
  --shade3: #4D4D4D;
  --shade4: #B3B3B3;
  --shade5: #e3e3e3;
  --red-shade1: #4a0707;
  --red-shade2: #511e1e;
}

/**
@media (prefers-color-scheme: dark) {

}
*/

body {
  background-color: var(--bg);
  margin: 0;
}

h1, h2, p {
  margin: 0;
}