.container {
  height: 100vh;
  background-color: var(--shade1);
  display: flex;
  flex-direction: row;
}

.main {
  width: 100%;
}

.sidebar {
  background-color: var(--shade2);
  padding-block: 13px;
  padding-inline: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 144px;
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: var(--shade6);
}

.header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--shade5);
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: var(--shade6);
  padding-bottom: 6px;
}

.headerText {
  font-size: larger;
}

.navigation {
  height: 100%;
  padding-block: 16px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listItem {
  background-color: var(--shade1);
  border-radius: 5px;
  height: 36px;
  cursor: pointer;
  border-color: var(--shade3);
  border-width: thin;
  border-style: solid;
}

.listItem:last-child {
  margin-top: auto;
  background-color: var(--red-shade1);
  border-color: var(--red-shade2);
}

.listItemLink {
  color: var(--shade4);
  height: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 15px;
  font-size: 14px;
  text-decoration: none !important;
}

.listItemLinkLogout {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgray;
}

.listItemLinkLogout:visited {
  color: lightgray;
}

.listItemLinkLogout:hover {
  color: white;
}

.listItemLink:visited {
  color: var(--shade4);
}

.listItemLink:hover {
  color: var(--shade5);
}

.footer {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: var(--shade6);
  padding-top: 9px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.footerLink {
  color: var(--shade3);
  font-size: smaller;
}

.footerLink:hover {
  color: var(--shade5);
}

.feed {
  background-color: var(--shade2);
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: var(--shade6);
  min-width: 45px;
  display: flex;
  flex-direction: row;
}

.feedToggle {
  width: 45px;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.feedToggleSvg {
  width: 24px;
  height: 24px;
  fill: var(--shade3);
}

.feedStream {
  display: none;
}